[Unit]
Description=Metacity
After=graphical-session.target
Requisite=graphical-session.target
PartOf=graphical-session.target

[Service]
Slice=session.slice
ExecStart=/usr/bin/metacity
Restart=on-failure
RestartSec=0ms
