#!
[Desktop Entry]
#s launcher's name:
Name=BitTorrent
#s Exec command:
Exec=transmission-gtk
#s image's name or path:
Icon=transmission
#f Order you want for this launcher among the other launchers:
Order=1
#s Name of the container it belongs to:
Container = _MainDock_
#b Is this icon a container ?
Is container = false
