#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=File Browser
#s Commande à exécuter lors du clique :
Exec=nautilus --no-desktop --browser 
#S Nom ou chemin de l'image :
Icon=nautilus
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=2
#E[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false

Base URI=
Is mounting point=false
Encoding=UTF-8
Name[ar]=متصفح الملفات
Name[as]=ফাইল ব্রাউজার
Name[az]=Fayl Səyyahı
Name[be]=Файлавы вандроўнік
Name[be@latin]=Hartač fajłaŭ
Name[bg]=Файлов браузър
Name[bn]=ফাইল ব্রাউজার
Name[bn_IN]=ফাইল ব্রাউজার
Name[br]=Furcher restroù
Name[ca]=Navegador de fitxers
Name[cs]=Prohlížeč souborů
Name[cy]=Porwr Ffeil
Name[da]=Filhåndtering
Name[de]=Datei-Browser
Name[dz]=ཡིག་སྣོད་བརའུ་ཟར
Name[el]=Περιηγητής Αρχείων
Name[en_CA]=File Browser
Name[en_GB]=File Browser
Name[eo]=Foliumilo de dosieroj
Name[es]=Navegador de archivos
Name[et]=Faililehitseja
Name[eu]=Fitxategi-arakatzailea
Name[fa]=مرورگر پرونده
Name[fi]=Tiedostoselain
Name[fr]=Fichiers
Name[gl]=Navegador de ficheiros
Name[gu]=ફાઈલ બ્રાઉઝર
Name[he]=דפדפן הקבצים
Name[hi]=फ़ाइल ब्राउज़र
Name[hu]=Fájlböngésző
Name[hy]=Ֆայլի զննիչ
Name[id]=Perambah Berkas
Name[it]=Esplorazione file
Name[ja]=ファイル・ブラウザ
Name[ka]=ფაილ ბრაუზერი
Name[kn]=ಕಡತ ವೀಕ್ಷಕ
Name[ko]=파일 브라우저
Name[ku]=Geroka Pelan
Name[lt]=Failų naršyklė
Name[lv]=Failu pārlūks
Name[mg]=Mpizaha rakitra
Name[mk]=Разгледувач
Name[ml]=ഫയല്‍ ബ്രൌസര്‍
Name[ms]=Pelungsur Fail
Name[nb]=Bla gjennom filer
Name[ne]=फाइल ब्राउजर
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsamar
Name[nso]=Sefetleki sa Faele
Name[oc]=Navegaire de fichièrs
Name[pa]=ਫਾਇਲ ਝਲਕ
Name[pl]=Przeglądarka plików
Name[pt]=Navegador de Ficheiros
Name[pt_BR]=Navegador de Arquivos
Name[ro]=Navigator fişiere
Name[ru]=Обозреватель файлов
Name[si]=ගොනු ගවේශකය
Name[sk]=Prehliadač súborov
Name[sl]=Brskalnik datotek
Name[sq]=Shfletuesi i file
Name[sr]=Разгледач датотека
Name[sr@Latn]=Razgledač datoteka
Name[sv]=Filbläddrare
Name[ta]=கோப்பு உலாவி
Name[te]=దస్త్రఅన్వేషి
Name[th]=โปรแกรมเรียกดูแฟ้ม
Name[tr]=Dosya Tarayıcı
Name[uk]=Перегляд файлів
Name[vi]=Bộ duyệt tập tin
Name[xh]=Isikhangeli Sefayili
Name[zh_CN]=文件浏览器
Name[zh_HK]=檔案瀏覽器
Name[zh_TW]=檔案瀏覽器
Name[zu]=Umyaluzi-hele
Comment=Browse the file system with the file manager
Comment[ar]=تصفح نظام الملفات بمدير الملفات
Comment[as]=ফাইল ব্যবস্থাপকেৰ সাহায্যে ফাইল-সিস্টেম ব্ৰাউজ কৰুন
Comment[be]=Вандраваць па файлавай сыстэме кіраўніком файлаў
Comment[be@latin]=Prahladaje fajłavuju systemu pry dapamozie kiraŭnika fajłaŭ
Comment[bg]=Разглеждане на файловата система с файловия мениджър
Comment[bn]=ফাইল ব্যবস্থাপকের সাহায্যে ফাইল-সিস্টেম ব্রাউজ করুন
Comment[bn_IN]=ফাইল ব্যবস্থাপকের সাহায্যে ফাইল-সিস্টেম ব্রাউজ করুন
Comment[br]=Furchal er sistem restroù gant ar merour restroù
Comment[ca]=Navegueu pel sistema de fitxers amb el gestor de fitxers
Comment[cs]=Procházet systém souborů správcem souborů
Comment[cy]=Pori'r system ffeiliau gan ddefnyddio'r trefnydd ffeiliau
Comment[da]=Navigér filsystemet med filhåndteringen
Comment[de]=Das Dateisystem mit Hilfe des Dateimanagers anzeigen
Comment[dz]=ཡིག་སྣོད་རིམ་ལུགས་དེ་ལུ་ ཡིག་སྣོད་འཛིན་སྐྱོང་པ་གིས་ བརྡ་འཚོལ་འབད།
Comment[el]=Περιήγηση του συστήματος αρχείων με το διαχειριστή αρχείων
Comment[en_CA]=Browse the file system with the file manager
Comment[en_GB]=Browse the file system with the file manager
Comment[eo]=Foliumi dosiersistemon per dosiera mastrumilo
Comment[es]=Navegue por el sistema de archivos con el gestor de archivos
Comment[et]=Sirvi failihalduriga failisüsteemi
Comment[eu]=Arakatu fitxategi-sistema fitxategi-kudeatzailearekin
Comment[fa]=مرور سیستم پرونده‌ها با مدیر پرونده‌ها
Comment[fi]=Selaa tiedostojärjestelmää tiedostonhallinnasta
Comment[fr]=Parcourir le système de fichiers avec le gestionnaire de fichiers
Comment[gl]=Navegar no sistema de ficheiros co xestor de ficheiros
Comment[gu]=ફાઈલ વ્યવસ્થાપક સાથે ફાઈલ સિસ્ટમમાં બ્રાઉઝ કરો
Comment[he]=דפדף במערכת הקבצים עם מנהל הקבצים
Comment[hi]=फ़ाइल प्रबंधक के साथ फ़ाइलसिस्टम ब्राउज़ करें
Comment[hu]=A fájlrendszer böngészése a fájlkezelővel
Comment[hy]=Ֆայլերի համակարգում բրաուզ կատարել ֆայլերի մենեջերի միջոցով։
Comment[id]=Rambah isi sistem berkas dengan pengatur berkas
Comment[it]=Esplora il file system con il file manager
Comment[ja]=ファイル・マネージャを使ってファイルシステムを閲覧します
Comment[ka]=ფაილ სისტემის ფაილ მენეჯერით დათვალიერება
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕದೊಂದಿಗೆ ಕಡತ ವ್ಯವಸ್ಥೆಯನ್ನು ಶೋಧಿಸು
Comment[ko]=파일 관리자로 파일 시스템을 찾아봅니다
Comment[ku]=Bi rêveberê pelan re çav li pergala pelan bigerîne
Comment[lt]=Naršyti failų sistemą failų tvarkykle
Comment[lv]=Pārlūkot failu sistēmu ar failu pārvaldnieku
Comment[mg]=Zahavo amin'ny alalan'ny mpandrindra rakitra ny rafitry ny rakitra
Comment[mk]=Разгледајте го датотечниот систем со менаџерот за датотеки
Comment[ml]=ഫയല്‍ മാനേജര്‍ ഉപയോഗിച്ച് ഫയല്‍ സിസ്റ്റം പരതുക
Comment[nb]=Bla gjennom filsystemet med filhåndtereren
Comment[ne]=फाइल प्रबन्धकसंगफाइलप्रणाली ब्राउज गर्नुहोस्
Comment[nl]=Bestandssysteem doorbladeren met het bestandsbeheer
Comment[nn]=Bla gjennom filsystemet med filhandsamaren
Comment[pa]=ਫਾਇਲ ਮੈਨੇਜਰ ਵਿੱਚ ਫਾਇਲ ਸਿਸਟਮ ਦੀ ਝਲਕ
Comment[pl]=Przegląda system plików za pomocą menedżera plików
Comment[pt]=Navegar no sistema de ficheiros com o gestor de ficheiros
Comment[pt_BR]=Navegue no sistema de arquivos com o gerenciador de arquivos
Comment[ro]=Exploraţi sistemul de fişiere folosind managerul de fişiere
Comment[ru]=Просмотр файловой системы в менеджере файлов
Comment[si]=ගොනු ගවේශකය සමඟින් ගොනු පද්ධතිය ගවේශනය කරන්න
Comment[sk]=Prehliadať súborový systém správcom súborov
Comment[sl]=Brskaj datotečni sistem z upraviteljem datotek
Comment[sq]=Shfleto file e sistemit me organizuesin e file
Comment[sr]=Разгледајте систем датотека помоћу управљача датотекама
Comment[sr@Latn]=Razgledajte sistem datoteka pomoću upravljača datotekama
Comment[sv]=Bläddra i filsystemet med filhanteraren
Comment[ta]=கோப்பு அமைப்பை கோப்பு மேலாளரை பயன்படுத்தி பார்
Comment[th]=เรียกดูระบบแฟ้มด้วยโปรแกรมจัดการแฟ้ม
Comment[tr]=Dosya yöneticisi ile dosya sistemine gözat
Comment[uk]=Перегляд файлової системи менеджером файлів
Comment[vi]=Duyệt hệ thống tập tin với trình quản lý tập tin
Comment[zh_CN]=用文件管理器浏览文件系统
Comment[zh_HK]=使用檔案總管瀏覽檔案系統
Comment[zh_TW]=使用檔案總管瀏覽檔案系統
TryExec=nautilus
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Utility;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.20.0
Is URI=false
