#3.0.0.0rc1

#[gtk-about]
[Desktop Entry]

#F[Icon]
frame_maininfo=

#d+ Name of the container it belongs to:
Container=_MainDock_

#s Sub-dock's name :
Name=Office

#v
sep_display=

#Y+[Use an image;1;1;Draw sub-dock's content as emblems;0;0;Draw sub-dock's content as stack;0;0;Draw sub-dock's content inside a box;0;0] How to render the icon :
render=2

#S+ Image's name or path :
Icon=


#X[Extra parameters]
frame_extra=

#n Name of the view used for the sub-dock :/
Renderer=

#i-[0;16] Only show in this specific viewport
#{If '0' the container will be displayed on every viewport.}
ShowOnViewport=0

#f[0;100] Order you want for this launcher among the others:
Order=6

Icon Type=1
Type=Container
Origin=
