[Desktop Entry]
Name=Cairo-Dock (GNOME)
Comment=This session logs you into GNOME with Cairo-Dock
Exec=gnome-session --session=cairo-dock
TryExec=cairo-dock-session
Icon=
Type=Application
