[Desktop Entry]
Name=GNOME/Cairo-Dock (Metacity)
Comment=This session logs you into GNOME Flashback with Cairo-Dock and Compiz
Exec=gnome-session --session=cairo-dock-fallback
TryExec=metacity
Type=Application
DesktopNames=GNOME-Flashback;GNOME;
X-Ubuntu-Gettext-Domain=gnome-flashback
