[Desktop Entry]
Name=Cairo-Dock (Gnome + Effects)
Comment=This session logs you into GNOME with Cairo-Dock and with graphical effects.
Exec=gnome-session --session=cairo-dock
TryExec=cairo-dock-session
Icon=
Type=Application
