[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cairo-dock -c
Icon=cairo-dock.svg
#DocPath=
Terminal=false

Name=Cairo-Dock (no OpenGL)
Name[fr]=Cairo-Dock (sans OpenGL)

GenericName=Multi-purpose Dock
GenericName[fr]=Dock multi-usage
Categories=System;
