[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=cairo-dock -oi
Icon=cairo-dock.svg
#DocPath=
Terminal=false
Comment=Cairo-Dock with OpenGL and indirect rendering, for Intel graphic cards especially.
Name=GLX-Dock - indirect rendering
Name[fr]=GLX-Dock - mode de rendu indirect

GenericName=Multi-purpose Dock and Desklets
GenericName[fr]=Dock et Desklets multi-usage
Categories=System;
