#!en

#[gtk-about]
[Desktop Entry]

#F[Subdock]
frame_maininfo=

#d Name of the container it belongs to:
#{If you write here a container's name that doesn't exist yet, a new one will be created, with this icon inside.}
Container = 

#s Sub-dock's name :
Name = New sub-dock

Exec=

#F[Display]
frame_display=

#Y[Use an image;1;1;Draw sub-dock's content as emblems;0;0;Draw sub-dock's content as stack;0;0;Draw sub-dock's content inside a box;2;2] How to render the icon :
render = 3

#S Image's name or path :
Icon=

#S Image for the front box:
#{If you don't provide any, a default image will be used.}
front box=

#S Image for the back box:
#{If you don't provide any, a default image will be used.}
back box=


#X[Extra parameters]
frame_extra =

Is container = true

#n Name of the view used for the sub-dock :/
Renderer = 

#i-[0;16] Only show in this specific viewport
#{If '0' the container will be displayed on every viewport.}
ShowOnViewport = 0

#f[0;100] Order you want for this launcher among the others:
Order=0

group = 0
