#!en
[Desktop Entry]

#s Launcher's name :
Name = 

Exec=

#Y[Use an image;1;1;Draw sub-dock's content as emblems;0;0;Draw sub-dock's content as stack;0;0;Draw sub-dock's content inside a box;0;0] How to render the icon :
render = 3

#S Image's name or path :
Icon=

#s URI of the file :
Base URI = /home

#l[None;5;10;20;30;All] Number of files to list in the sub-dock :
Nb subicons = 3

#l-[Name;Size;Date] Sort files by :
Sort files = 0


#X[Extra parameters]
frame_extra =
#f[0;100] Order you want for this launcher among the others:
Order=0
#d Name of the container it belongs to:
Container = 

#i-[0;16] Only show in this specific viewport
#{If '0' the launcher will be displayed on every viewport.}
ShowOnViewport = 0

Renderer = 

Is mounting point = false
