#!en

#[gtk-about]
[Desktop Entry]

#F[Separator]
frame_maininfo=

#d Name of the container it belongs to:
#{If you write here a container's name that doesn't exist yet, a new one will be created, with this icon inside.}
Container = 

Name = 
Exec=

#F[Display]
frame_display=

#> Separators' appearance is defined in the global configuration.
Icon=

#X[Extra parameters]
frame_extra =
#f[0;100] Order you want for this launcher among the others:
Order=0

Is container = false

Renderer = 

group = 0
